In [15]:
import pandas as pd
import datetime as dt

## Warmup: Working With Datetimes

In [16]:
df = pd.read_csv('warmup_data.csv')
df.head()

  trip_date  searches
0    7/1/14       715
1    7/2/14       733
2    7/3/14       832
3    7/4/14      1211
4    7/5/14      1321

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 2 columns):
trip_date    365 non-null object
searches     365 non-null int64
dtypes: int64(1), object(1)
memory usage: 8.6+ KB

### Exercise 1:
- Convert the date column to datetime
- Bonus: do it in one line!

In [18]:
#Your code here

x = '7/1/14'
df.trip_date = df.trip_date.apply(lambda x: dt.datetime.strptime(x, '%m/%d/%y'))
df.head()

   trip_date  searches
0 2014-07-01       715
1 2014-07-02       733
2 2014-07-03       832
3 2014-07-04      1211
4 2014-07-05      1321

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 2 columns):
trip_date    365 non-null datetime64[ns]
searches     365 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 8.6 KB

### Exercise 2: 
- Find the total searches between 12/25/14 and 1/3/15

In [20]:
#your code here

date_filter = pd.date_range('2014-12-25', '2015-1-3')

### Exercise 3: 
- Did Saturdays or Sundays have more total searches in January?

In [21]:
#your code here


x = '7/4/14'
dt.datetime.strptime(x, '%m/%d/%y').weekday()

4

In [22]:
df.trip_date.apply(lambda x: x.weekday())

0      1
1      2
2      3
3      4
4      5
5      6
6      0
7      1
8      2
9      3
10     4
11     5
12     6
13     0
14     1
15     2
16     3
17     4
18     5
19     6
20     0
21     1
22     2
23     3
24     4
25     5
26     6
27     0
28     1
29     2
      ..
335    0
336    1
337    2
338    3
339    4
340    5
341    6
342    0
343    1
344    2
345    3
346    4
347    5
348    6
349    0
350    1
351    2
352    3
353    4
354    5
355    6
356    0
357    1
358    2
359    3
360    4
361    5
362    6
363    0
364    1
Name: trip_date, dtype: int64