In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/lab5warmupdata.txt', delimiter='\t')

In [4]:
df.head()

  number1  number2
0   0,589  '0,589'
1   0,578  '0,578'
2   7,779  '7,779'
3   0,139  '0,139'
4   1,687  '1,687'

####Exercise 1: Strip the extra comma from the number1 column and convert to integer

In [10]:
#Your code here
type_of = type(df.number1[0])
type_of

str

In [18]:
# method 1 using functions
def strip(x):
    return x.str.replace(",","")

df.number1 = strip(df.number1).astype(int)
df

    number1  number2
0       589  '0,589'
1       578  '0,578'
2      7779  '7,779'
3       139  '0,139'
4      1687  '1,687'
5      3246  '3,246'
6       254  '0,254'
7      3133  '3,133'
8      9446  '9,446'
9      6241  '6,241'
10     4922  '4,922'
11     4657  '4,657'
12     5134  '5,134'
13     4947  '4,947'
14     5988  '5,988'
15     1376  '1,376'
16      291  '0,291'
17     1515  '1,515'
18     3126  '3,126'
19      853  '0,853'
20     2768  '2,768'
21     6738  '6,738'
22     8168  '8,168'
23      181  '0,181'
24     6760  '6,760'
25     2199  '2,199'
26     2207  '2,207'
27     5145  '5,145'
28     8247  '8,247'
29     7646  '7,646'
30      941  '0,941'
31     1886  '1,886'
32     4981  '4,981'
33     2140  '2,140'
34     6987  '6,987'
35      326  '0,326'
36     2867  '2,867'
37     4890  '4,890'
38     8625  '8,625'
39     4475  '4,475'
40      903  '0,903'

In [19]:
#Bonus: Do it a different way
# using lambda

df.number1 = df.number1.apply(lambda x : x.replace(",",""))
df

AttributeError: 'numpy.int64' object has no attribute 'replace'

####Exercise 2: Strip the extra quotation marks from the column2 and convert to integer

In [ ]:
#Your code here